=render 'shared/topheader'
.product-details-main
  .product-details-main__top
    .product-details-main__top-name
      餃子
    .product-details-main__top-image
      %ul
        %li.main-image
        %ul.main-sub-list
          %li.main-image1-sub
          %li.main-image2-sub
          %li.main-image3-sub
    .item-box-price
      %span
        ¥20000
    .item-box-price-details
      %span
        (税込)送料込み
    .itemdetails
      親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
    .table
      %table
        %tr
          %th.name 出品者
          %td kaede
        %tr
          %th.category カテゴリー
          %td.category-list
            = link_to "#" ,class: "category-btn" do
              料理 
            %br
            = link_to "#",class: "category-btn" do
              料理
            %br
            = link_to "#",class: "category-btn" do
              料理
        %tr
          %th.brand ブランド 
          %td 飯
        %tr
          %th.brand サイズ
          %td ２２cm
        %tr
          %th.condition 商品状態
          %td 新品
        %tr
          %th.condition 配送料の負担
          %td 着払い
        %tr
          %th.condition 発送元の地域
          %td ２０cm
        %tr
          %th.condition 発送日の目安
          %td 1日から２日
    .product-details-comment-while 
    .product-details-comments 
      .product-details-comments-textarea 
        = form_for "#" do |f|
          .field-input
            = f.text_area :text,rows:8,cols:86  ,class:"textarea"
          .product-details-comments-note
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .actions
            = icon('fas','comment', class: 'comment-icon')
            = f.submit "コメントする", class: 'submit-btn'
 
.app
  .app__main
    .app__main--top
      誰でもかんたん、人生を変えるフリマアプリ
    .app__main--midle
      今すぐダウンロード！
    .app__main--bottom
      =link_to url="#" ,class:"cbtn"do
        = image_tag 'app.svg',  height: '120', width: '150', class: 'iamge3'
      =link_to url="#" ,class:"dbtn" do
        = image_tag 'google.svg',  height: '120', width: '150', class: 'iamge3'
.footer
  %ul.contents
    %li.content
      .content__head
        FURIMAについて
      %ul
        %li
          =link_to url="#" ,class:"ebtn"do
            会社概要（運営会社）
        %li
          =link_to url="#" ,class:"ebtn"do
            プライバシーポリシー
        %li
          =link_to url="#" ,class:"ebtn"do
            FURIMA利用規約
        %li
          =link_to url="#" ,class:"ebtn"do
            ポイントに関する特約
    %li.content
      .content__head
        FURIMAを見る
      %ul
        %li
          =link_to url="#" ,class:"fbtn"do
            カテゴリーー覧
        %li
          =link_to url="#" ,class:"gbtn"do
            ブランドーー覧
    %li.content
      .content__head
        ヘルプ＆ガイド
      %ul
        %li
          =link_to url="#" ,class:"hbtn"do
            FURIMAガイド
        %li
          =link_to url="#" ,class:"ibtn"do
            FURIMAロゴ利用ガイドライン
        %li
          =link_to url="#" ,class:"jbtn"do
            お知らせ
  .footer__logo
    =link_to url="products" ,class:"jbtn"do
      = image_tag 'furima2.svg',  height: '120', width: '150', class: 'iamge11'
    %p
      ©️FURIMA
= link_to  '/purchase/index',class:"sell-product" do
  %span.selld-product
    購入する
  = image_tag 'icon_camera.png',  height: '70px', width: '70px', class: 'iamge11'


  